<md-content
  layout-padding
  flex="66"
  flex-sm="85"
  flex-xs="95"
  class="m-auto my-15"
>
  <h3 flex="80" class="mx-auto my-15">
    Looking for a free online Bible study to lead you through God’s Word? Find
    one in the list below.
  </h3>
  <p flex="80" class="mx-auto my-15">
    As Seventh-day Adventists, our promise is to help our friends understand the
    Bible to find freedom, healing and hope in Jesus. If you would like to
    experience this kind of relationship with Jesus and learn more about His
    plans for you, we’ve selected a variety of Bible studies to get you started.
  </p>

  <md-divider></md-divider>

  <div layout="row" layout-wrap layout-align="space-between" class="pb-15">
    <itdl-card
      ng-repeat="bibleStudy in $ctrl.bibleStudies"
      data="bibleStudy"
      flex="95"
      flex-lg="50"
      flex-xl="33"
    ></itdl-card>
  </div>

  <md-divider class="my-15"></md-divider>

  <h2 class="mt-30">Would you like to study with us?</h2>
  <form name="studiesForm" class="mb-15">
    <div layout="row">
      <md-input-container flex="50">
        <label>Name</label>
        <input required name="name" ng-model="project.name" />
        <div ng-messages="studiesForm.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex="50">
        <label>Phone Number</label>
        <input
          required
          type="number"
          step="any"
          name="phone"
          ng-model="project.phone"
          min="10000000"
          max="100000000000"
        />
        <div
          ng-messages="studiesForm.rate.$error"
          multiple
          md-auto-hide="false"
        >
          <div ng-message="required">This is required</div>
          <div ng-message="min">This phone number is too short</div>
          <div ng-message="max">This phone number is too long</div>
        </div>
      </md-input-container>
    </div>

    <md-input-container class="md-block">
      <label>Email</label>
      <input
        type="email"
        name="email"
        ng-model="project.email"
        minlength="10"
        maxlength="100"
        ng-pattern="/^.+@.+\..+$/"
      />

      <div ng-messages="studiesForm.email.$error" role="alert">
        <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
          Your email must be between 10 and 100 characters long and look like an
          e-mail address.
        </div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <md-checkbox
        layout="row"
        class="md-primary"
        name="study"
        ng-model="project.study"
        required
      >
        I'd like to study the bible
      </md-checkbox>
      <md-checkbox
        layout="row"
        class="md-primary"
        name="moreInfo"
        ng-model="project.moreInfo "
        required
      >
        I just want more information about the Adventist Church
      </md-checkbox>
    </md-input-container>

    <md-input-container class="md-block">
      <md-switch class="md-primary" name="msg" ng-model="$ctrl.project.msg">
        Enable sending messages
      </md-switch>
    </md-input-container>
    <div>
      <md-button class="md-raised md-primary mx-0" type="submit"
        >Submit</md-button
      >
    </div>
  </form>
</md-content>
