<header class="belief-header d-sm-none d-md-block hide-xs">
  <div flex="66" flex-sm="85" class="container m-auto">
    <figcaption>
      <h1>Creencias</h1>
      <em>
        <p>
          Adventists regard the entire Holy Bible as the only sure thing rule of
          faith and hope. His doctrines, therefore, follow integrally the
          biblical teachings and are based on them. The Seventh-day Adventists
          accept the Bible as their only creed and hold fundamental beliefs
          based on the teachings of the Holy writings. These beliefs, as
          presented here, constitutes the way in which the church understands
          and expresses the Teachings of the Scriptures.
        </p>
      </em>
    </figcaption>
  </div>
</header>

<loading></loading>

<div layout-padding flex="66" flex-sm="85" flex-xs="95" class="m-auto py-5">
  <div class="container-card d-flex">
    <div>
      <h3>{{$ctrl.belief.title}}</h3>
      <div ng-repeat="p in $ctrl.belief.description">
        <p>{{p}}</p>
      </div>
      <div ng-if="$ctrl.belief.image">
        <img ng-src="{{$ctrl.belief.image}}" alt="$ctrl.belief.title" />
      </div>
    </div>

    <div ng-repeat="detail in $ctrl.belief.moreDetails">
      <h4>{{detail.title}}</h4>
      <div ng-repeat="p in detail.description">
        <p>{{p}}</p>
      </div>
      <div ng-if="detail.image">
        <img ng-src="{{detail.image}}" alt="detail.title" />
      </div>
    </div>
  </div>
</div>
