<md-card class="itdl-card m-15">
  <img
    ng-src="{{$ctrl.data.image}}"
    class="md-card-image"
    alt="{{$ctrl.data.title}}"
  />
  <md-content class="itdl-content">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{$ctrl.data.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>{{$ctrl.data.description}}</p>
    </md-card-content>
    <md-card-actions
      flex="60"
      flex-xs="80"
      layout="column"
      layout-align="start"
      class="itdl-card-actions"
    >
      <md-button
        href="{{$ctrl.data.link}}"
        target="_blank"
        class="md-raised md-primary"
      >
        Start this lesson &nbsp;
        <span class="material-icons arrow"> arrow_right_alt </span>
      </md-button>
    </md-card-actions>
  </md-content>
</md-card>
