.footer {
  background-color: #828282;
  color: #eaeaea;
  padding: 50px;
}
.list-unstyled li a,
address a {
  text-decoration: none;
  color: #003c71;
  font-weight: 700;
}
.copyright {
  background-color: #003c71;
  color: #fff;
  text-align: center;
  padding: 30px;
}
.copyright p {
  margin-bottom: 2px;
}
