body {
  margin: 0;
  padding: 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: rgb(58, 58, 58);
  background-color: rgb(251, 246, 240);
}
main {
  background: #f9f9f9;
}

/* Link button */
.link-buttons a,
.link-button {
  width: 30px;
  color: #003c71;
}
.link-buttons a:hover,
.link-button:hover {
  cursor: pointer;
  color: #92ccff;
}

/* Primary button */
.md-button.md-primary.md-raised:not([disabled]),
.md-button.md-primary.md-fab:not([disabled]),
.md-button.md-fab {
  background: #003c71;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.1s;
  color: #fff;
}
.md-button.md-primary.md-raised:not([disabled]):before,
.md-button.md-primary.md-fab:not([disabled]):hover:before,
.md-button.md-fab:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #92ccff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.2s ease-out;
}
.md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]).md-focused,
.md-button.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]).md-focused,
.md-button.md-fab:not([disabled]):hover,
.md-button.md-fab:not([disabled]).md-focused {
  background-color: #003c71;
  color: black;
}
.md-button.md-primary.md-raised:not([disabled]):hover:before,
.md-button.md-primary.md-fab:not([disabled]):hover:before,
.md-button.md-fab:hover:before {
  transform: scaleX(1);
}

p,
h3,
h4 {
  line-height: 20px;
}

a {
  line-height: 21px;
  text-decoration: none;
}
