<footer class="footer">
  <div class="container">
    <div
      layout="column"
      layout-gt-sm="row"
      layout-align="center center"
      class="text-center"
    >
      <div hide-xs hide-sm flex>
        <h3>Links</h3>
        <ul class="list-unstyled link-buttons">
          <li><a href="./index.html">Beliefs</a></li>
          <li><a href="./aboutus.html">Study the Bible</a></li>
          <li><a href="./contactus.html">Departments</a></li>
        </ul>
      </div>
      <div flex class="link-buttons">
        <h3>Our Address</h3>
        <address>
          Universidad Adventista del Plata<br />
          Libertador San Martin<br />
          Entre Rios<br />
          Argentina<br />
          <i class="fa fa-phone"></i>: +54 3435074655<br />
          <i class="fa fa-envelope"></i>:<a
            href="mailto:nicanororlando@gmail.com"
          >
            nicanororlando@gmail.com</a
          >
        </address>
      </div>
      <div hide-xs hide-sm flex class="link-buttons mt-15">
        <a href="http://instagram.com"
          ><md-tooltip>Instagram</md-tooltip> <i class="fa fa-instagram"></i
        ></a>
        <a href="http://www.facebook.com/profile.php?id="
          ><md-tooltip>Facebook</md-tooltip> <i class="fa fa-facebook"></i
        ></a>
        <a href="http://www.linkedin.com/in/"
          ><md-tooltip>Linkedin</md-tooltip> <i class="fa fa-linkedin"></i
        ></a>
        <a href="http://twitter.com/">
          <md-tooltip>Twitter</md-tooltip>
          <i class="fa fa-twitter"></i
        ></a>
        <a href="http://youtube.com/">
          <md-tooltip>Youtube</md-tooltip>
          <i class="fa fa-youtube"></i
        ></a>
        <a href="mailto:nicanororlando@gmail.com">
          <md-tooltip>Mail</md-tooltip>
          <i class="fa fa-envelope-o"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
<footer class="copyright">
  <p>© General Conference of Seventh-day Adventists</p>
</footer>
