.topbar {
  /* height: 40px; */
  background-color: #f2ce1b;
  list-style: none;
}
.btn-login {
  text-decoration: none;
  font-weight: 700;
}
div > a {
  padding-left: 8px;
}
a > img {
  margin-bottom: 0;
}
