/* TOPBAR */
.topbar {
  background-color: #f2ce1b;
  list-style: none;
}
.social span {
  width: 30px;
  color: #003c71;
}
.social span:hover,
.btn-login:hover {
  color: #92ccff;
}
.btn-login {
  text-decoration: none;
  font-weight: 700;
}
div > a {
  padding-left: 8px;
}
a > img {
  margin-bottom: 2px;
}
