header {
  position: sticky;
  top: 0;
  background-color: #003c71;
  z-index: 10;
}
.md-nav-item:first-of-type {
  margin-left: 0;
}
md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #fff;
}
#navbar {
  background-color: #003c71;
  height: fit-content;
  overflow: hidden;
}
.navbar-brand {
  text-decoration: none;
  height: fit-content;
  color: #fff;
}
.nav-list {
  height: fit-content;
  font-size: 15px;
  font-weight: 400;
}
.md-button:not([disabled]).md-focused {
  background-color: inherit;
}
.svg-logo {
  display: inline;
  width: 40px;
  height: 40px;
}
.logo {
  fill: #fff;
}
.title {
  margin-left: 7px;
  font-size: 12px;
}

md-sidenav {
  background-color: #003665;
  margin-top: 117px;
  height: min-content;
}
md-sidenav md-content {
  background-color: #003665;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .md-button._md-nav-button {
    text-align: start;
    width: 280px;
  }
  md-nav-ink-bar {
    display: none;
  }
  md-sidenav {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  md-sidenav {
    margin-top: 80px;
  }
}
