<div
  show-sm
  show-xs
  hide
  class="lock-size"
  layout="row"
  layout-align="start center"
>
  <md-fab-speed-dial
    md-open="$ctrl.isOpen"
    md-direction="right"
    ng-class="'md-scale'"
  >
    <md-fab-trigger>
      <md-button aria-label="Plus" class="md-fab md-primary pl-5">
        <md-icon
          class="fa fa-users icon-white"
          aria-label="Instagram"
        ></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="Instagram" class="md-fab md-raised md-mini">
        <md-icon
          class="fa fa-instagram icon-white"
          aria-label="Instagram"
        ></md-icon>
      </md-button>
      <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
        <md-icon
          class="fa fa-facebook icon-white"
          aria-label="Facebook"
        ></md-icon>
      </md-button>
      <md-button aria-label="Youtube" class="md-fab md-raised md-mini">
        <md-icon
          class="fa fa-youtube icon-white"
          aria-label="Youtube"
        ></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
